<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Inspire Bank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <center><h1>Bem-vindo ao Inspire Bank</h1></center>
        <div class="menu">
            <a href="{{ url_for('salario') }}" class="btn">Armazenar Salário</a>
            <a href="{{ url_for('conta_corrente_view') }}" class="btn">Conta Corrente</a>
            <a href="{{ url_for('conta_poupanca_view') }}" class="btn">Conta Poupança</a>
        </div>
    </div>
</body>
</html>
